
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    color: var(--black);
}

:root{
    /* --Dark-Cerulean:#084B83;
    --petrol:#03616D;
    --dune:#333;
    --porcelain: #f2f2f2;
    --Limed-Spruce: #36454f;
    --Seashell:#F6F1F1;
    --Blue-Chill:#0E8388;
    --Plantation: #2E4F4F;
    --flat-blue:#4267B2;
    --azure:#1DA1F2;
    --red:#FF0000; */

    --Dark-Cerulean: #d5bdaf;
    --porcelain: #f2f2f2;
    --petrol: #e3d5ca;
    --dune: #d6ccc2;
    --Seashell: #F6F1F1;
    --flat-blue: #4267B2;
    --azure: #1DA1F2;
    --red: #FF0000;
    --grey: #f0f0f0;
    --black: black;
}
/* menu start  */

.display-none{
    display: none !important;
}

.extra-link{
    height: 60px;
    display: flex;
    width: 100%;
    background-color: var(--grey);
}

.museum-name{
    justify-content: start;
    align-content: center;
    display: grid;
    width: 50%;
}

.link-us{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.extra-link-button-style{
    border: 2px solid var(--Dark-Cerulean);
    background-color: var(--Dark-Cerulean);
    color: var(--black);
}

.extra-link-button-style:hover{
    border-color: var(--Dark-Cerulean);
    background-color: var(--porcelain);
    color: var(--black);
}

.extra-link-donate-style{
    border: 2px solid var(--petrol);
    background-color: var(--petrol);
    color: var(--black);
}

.extra-link-donate-style:hover{
    border-color: var(--Dark-Cerulean);
    background-color: var(--porcelain);
    color: var(--black);
}

.extra-link-search{
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.display-mobile{
    display: none;
}
    

.extra-link-button{
    padding: 2px 6px;
    border-radius: 8px;
    margin-right: 5px;
    font-size: 1.2rem;
}

.topnav {
    overflow: hidden;
    background-color: var(--dune);
    width: 100%;
}
  
.topnav a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: var(--Dark-Cerulean);
    color: var(--porcelain);
}

/*menu black */
  
.topnav a.active {
    background-color: var(--Dark-Cerulean);
    color: var(--porcelain);
}
  
.topnav .icon {
    display: none;
}

.link-navbar{
    float: right;
}

.name-museum{
    float: left;
}

.name-museum{
    color: var(--black) !important;
    font-size: 1.5rem;
    letter-spacing: 10px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
  /* menu end  */
.container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.painting-name{
    text-align: center;
    font-family: sans-serif;
}

h1{
    color: var(--black);
    font-size: 2rem;
}

.title-margin{
    margin-top: 20px;
}

.name{
    padding-left: 10px;
}

.form-style{
    width: 334px;
    margin: 10px;
    flex-direction: column;
}

.name-art{
    width: 334px;
    border: 2px solid var(--Dark-Cerulean);
    background-color: var(--Seashell);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-art:hover{
    border-color: var(--dune);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.name-art img{
    margin: auto;
    display: block;
}

.img-style{
    width: 200px;
    height: 350px;
    margin: 4px;
}

.art-name{
    background-color: var(--petrol);
    color: var(--black);
}

.description{
    background-color: var(--porcelain);
    padding:5px 10px;
    height: 143px;
    font-family: sans-serif;
}

div > a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black);
}

div > a:hover{
    color: var(--porcelain);
}

.link-style{
    background-color: var(--porcelain);
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    justify-content: end;
}

.link-style:hover > a{
    color: var(--black);
    text-decoration: underline;
}
.view-phone{
    display: none;
}

.upcoming-exhibitions{
    justify-content: start;
}

.justify-content{
    justify-content: inherit !important;
}

/* Newsletter Signup */

.Newsletter-signup{
    background-color: var(--Seashell);
    margin-top: 20px;
    padding: 20px 10px;

}

/* form style*/

.form-style{
    margin-top: 25px;
}

button{
    width: 100%;
    background-color: var(--Dark-Cerulean);
    color: var(--black);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
    border: 2px;
}

button:hover {
    background-color: var(--dune);
    /* border-color: red; */
}

.form-label, input{
    margin-top: 5px;
    display: grid;
}

.form-label{
    font-weight: bold;
    font-size: 1.2rem;
}

input{
    width: 98%;
    height: 20px;
}
.body-formsubmitted{
    background-color: var(--porcelain) !important;
}

/* formsubmitted page */

.container-formsubmitted{
    display: grid;
    justify-content: center;
    text-align: center;
}
.subscribing{
    display: grid !important;
}
.container-formsubmitted > h1{
    margin-bottom: 0px;
} 
.container-formsubmitted > h2{
    margin-top: 0px;
}

/* Footer */
footer{
    background-color: var(--dune);
    color: var(--porcelaine);
    padding: 25px;
    font-size: 1.2rem;
}

.name-copyright{
    color: var(--black);
}

.media-icon{
    display: block;
}

/* changing the color of the icons */
.media-icon > a > svg{
    color: var(--black);
}

.facebook:hover{
    color: var(--porcelain);
    fill:var(--flat-blue);
}

.instagram:hover{
    color: var(--porcelain);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.twitter:hover{
    color: var(--porcelain);
    fill:var(--azure);
}

.youtube:hover{
    fill:var(--red);
}

.section-link{
    width: 50%;
    display: flex;
    justify-content: center;
}

.li-style-footer{
    list-style-type: none;
    padding-top: 10px;
}

.footer-link{
    color: var(--black);
    text-decoration: none;
}

.footer-link:hover{
    text-decoration: underline;
}
/*********************************************
                PHONE VIEW 
*********************************************/
@media (min-width: 320px) and (max-width: 480px) {

    .extra-link{
        display: grid;
        height: 100%;
    }

    .museum-name{
        width: 100%;
        justify-content: center;
    }

    .link-us{
        display: grid;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .extra-link-button{
        margin-top: 5px;
        width: 300px;
    }

    .display-mobile{
        display: contents;
    }

    .extra-link-search {
        border: 2px solid var(--Dark-Cerulean);
        background-color: var(--Dark-Cerulean);
        color: var(--dark);
        padding: 2px 6px;
        border-radius: 8px;
        margin-right: 5px;
        font-size: 1.2rem;
        margin-top: 5px;
    }
    
    .extra-link-search:hover{
        border-color: var(--Dark-Cerulean);
        background-color: var(--porcelain);
        color: var(--black);
    }

    .justify-content {
        justify-content: center !important;
    }

    /* menu  */

    .name-museum{
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .fa-bars{
        fill: red;
    }
    /* end menu  */

    .view-phone{
        display: block;
        float: left;
    }

    .container{
        display: grid;
    }

    .form-style{
        display: grid; 
    }

    /* footer */
    .section-link {
        width: 100%;
        display: grid;
        justify-content: start
    }

    .container-section-link{
        justify-content: initial;
    }
    ul{
        padding-left: 15px;
    }
}


/*********************************************
                TABLET VIEW 
*********************************************/
@media (min-width: 768px) and (max-width: 1024px) {

    .extra-link{
        display: grid;
        height: 100%;
    }

    .museum-name{
        width: 100%;
        justify-content: center;
    }

    .link-us{
        display: grid;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .extra-link-button{
        margin-top: 4px;
        font-size: 1.6rem;
        width: 400px;
    }

    .display-mobile{
        display: contents;
    }

    .extra-link-search{
        border: 2px solid #084B83;
        background-color: #084B83;
        color: white;
        padding: 2px 6px;
        border-radius: 8px;
        margin-right: 5px;
        font-size: 1.5rem;
        margin-top: 5px;
    }
    
    .extra-link-search:hover{
        border-color: #084B83;
        background-color: white;
        color: #084B83;
    }
    
    /* manu  */
    .name-museum{
        font-size: 1.8rem;
        letter-spacing: 0;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .fa-bars{
        fill: red;
    }
    /* end menu  */

    h1{
        font-size: 2rem;
    }

    .container{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .justify-content {
        justify-content: center !important;
    }

    .painting-name{
        padding: 13px;
    }

    form{
        margin-left: 3px;
    }

    input{
        height: 10px;
    }

    .form-label, input {
        margin-top: 8px;
    }


}